body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(23, 20, 26);
    margin: 0;
    padding: 0;
}
  
.container {
    margin-top: 50px;
}
  
.punch-container {
    position: relative;
    display: inline-block;
}
  
#punch {
    width: 200px;
    cursor: pointer;
    transition: transform 0.1s;
    user-select: none;
}
  
#punch:active {
    transform: scale(0.9);
}
  
h1 {
    color: white;
}
  
p {
    font-size: 24px;
    color: white;
}
  
#click-animation-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
  
.click-animation {
    position: absolute;
    font-size: 24px;
    color: white;
    animation: floatUp 1s ease-out forwards;
    pointer-events: none;
}


#leaderboard {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
  }
  
  #leaderboard h2 {
    color: white;
  }
  
  #leaderboard-list {
    list-style-type: none;
    padding: 0;
  }
  
  #leaderboard-list li {
    color: white;
    margin: 5px 0;
  }
  
  #save-score {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #save-score:hover {
    background-color: #45a049;
  }

@keyframes floatUp {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-50px);
    }
}
  


